body {
    font: 14px 'Gafata', Helvetica, arial, sans-serif;
}

#logo {
    display: block;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

#glossolalia-cover {
    margin-top: 65px;
    margin-right: 45px;
    float: right;
}

#title {
    font-family: "Georgia", serif;
    font-size: 2.75em;
    margin-top: 25px;
    padding-left: 35px;
}

.tracks {
 font-size: 1.75em;
 padding-left: 50px;

}

.bio {
    font-size: 1.35em;
    margin-top: 45px;
}

#similar-artists {
    margin-top: 45px;
    margin-left: 15px;
    font-size: 1.5em;
}

.artists {
    font-size: 1.5em;
    padding: 15px 30px;
}

.artists li {
    padding-top: 15px;
}

.contacts {
    font-family: "Georgia", serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.quotes {
    margin-top: 25px;
}

.quotes blockquote {
    font-family: "Georgia", serif;
}

.horizontal-line {
    border-bottom: 1px solid #000;
    width: 900px;
    margin: 0 auto;
    display: block;
}

.vertical-line {
    border-left: 1px solid #000;
    margin-top: 25px;
    height: 80%;
    float: left;
}

/*blockquote {
    font-family: Georgia, serif;
    font-size: 12px;
    font-style: italic;
    width: 150px;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}
blockquote:before {
    display: block;
    content: "\201C";
    font-size: 60px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}
blockquote cite {
    color: #999999;
    font-size: 10px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

.headers {
    width:780px;
    border: 1px solid;
    border-color: #dbd9ca;
    border-radius: 10px;
    -moz-border-radius: 10px;
    margin:5px;
    padding:5px;
}

h1 {
    font-size: 45px;
    text-align:center;
}
h2 {
    font-size: 36px;
    text-align:center;
}
.songs {
  font-size: 16px;
}

p.bio {
    font-size: 10px
    color: #eeeeee;
}*/